.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E5E9F0;
    padding: 10px 20px;



    &:hover {
        background-color: #F5F5F5;
    }
}

.selected {
    background-color: #F5F5F5 !important;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.text {
    font-size: 12px;
}

.list-icon {
    float: right;

    button {
        width: 10px;
        height: 10px;
        background-color: transparent;
        border: none;
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.1);
        }

    }
}

.card-modal {

    .modal-overlay,
    .active {
        background-color: transparent !important;
    }
}