$primary-color: #3333FF;


.split-layout {
    display: flex;
    min-height: 100vh;

}


.sidebar {
    background: #fff;
    width: 30%;
    display: flex;
    flex-direction: column;


    @media screen and (min-width: 800px) {
        .hideOnDesktop {
            display: none;
        }
    }

    .sidebar-header {
        padding: 20px 10px;
    }

    .vehicle-form form {
        width: 250px;
    }
}



@media screen and (max-width: 800px) {

    .hideOnMobile {
        display: none;
    }

    .split-layout {
        display: flex;
        flex-direction: column;

        .sidebar {
            width: auto;
            height: 56px;

            &.showSidebar {
                .sidebar-links {
                    visibility: visible;
                    opacity: 1;
                }
            }

            .sidebar-header {
                padding: 10px;
            }
        }
    }

}

.vehicle-list {
    height: 100%;
    overflow: scroll;
    overflow-y: auto;

    .center {
        text-align: center;
    }
}